
body{
  padding: 25px;
  background-color: skyblue;
}
.title {
	color: #5C6AC4;
}

.container {
background-color: white;
padding : 5%;

}

.container h4 {
text-align:center;
}

.container input{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.container button {
 margin-top : 2%;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container p {
text-align: center;
}